<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Customers</h1>
<table>
    <thead>
    <tr><th>ID</th><th>Name</th><th>Phone</th></tr>
    </thead>
    <tbody>
    {{#customers}}
        <tr>
            <td>{{id}}</td><td>{{name}}</td><td>{{phone}}</td>
        </tr>
    {{/customers}}
    </tbody>
</table>
</body>
</html>